<h1>Add a new Category</h1>

<form method="POST" action="/categories/create">
  <input type="text" name="category_name" placeholder="Category name"/>
  <button type="submit">Add category</button>
</form>
