<h1>Create a new Item</h1>
<form method="POST" action="/items/create">
	<input type="text" name="item_name" placeholder="Item name" />
	<input type="number" name="item_price" placeholder="Item price" />
	<select name="category_id">
		<% categories.each do |category| %>
			<option value="<%= category.id %>"><%= category.name %></option>
		<% end %>
	</select>
	<button type="submit">Add Item</button>
</form>
